* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

i {
    font-size: 20px;
}

#account {
    width: 1440px;
    display: flex;
    height: 1000px;
}


body {
    width: 1440px;
    display: flex;
    height: 1000px;
}

/* phần bên trái */
.nav_info {
    border: 2px solid #000;
    width: 20%;
    height: 55%;
}

.avt_mini {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 28px;
    padding-left: 28px;
}

.avt_mini img {
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 60px;
    height: 60px;
}

.avt_mini p {
    margin: auto;
    margin-left: 24px;
}

.nav_left {
    margin-left: 42px;
}

.nav > li {
    margin-top: 24px;
}

.nav > li > a {
    margin: auto;
    position: absolute;
    left: 75px;
}

.sub_nav li {
    margin-left: 50px;
    margin-top: 12px;
}

/* phần bên phải */

.right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.credit {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.header_credit {
    display: flex;
    border: 1px solid #000;
    width: 1050px;
    height: 80px;
    text-align: center;
}

.account_credit {
    margin: auto 10px;
    font-size: 25px;
}

.header_credit button {
    width: 330px;
    height: 30px;
    margin-top: 20px;
    background-color: #6989C9;
    color: #fff;
    border: 0;
    font-size: 25px;
}

.add_credit {
    position: absolute;
    left: 900px;
}

.main_credit {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
}

.img_credit img {
    height: 110px;
    width: 110px;
}

.info_credit {
    margin-left: 30px;
}

.info_credit div {
    margin-bottom: 20px;
}

.delete_credit {
    margin-left: 400px;
    height: 30px;
    border: 0;
    font-size: 20px;
    text-decoration: underline;
}
